html, body {
	height:100%;
	overflow:visible;
}

body {
	box-sizing:border-box;
	padding-top: 50px;
 	/*padding-bottom: 20px;*/
}

.block {
	box-sizing:border-box;
	height:100%;
	position:relative;
}

.jumbotron {
	min-height:100%;
}
